@charset "UTF-8";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #9e99dfa1;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, heigth .3s;
    transition: ease;
}

form > div.campo {
    background-color: rgba(129, 129, 129, 0.897);
    height: 40px;
    margin: 3px 0px;
    border-radius: 5px;
    border: 2px solid rgba(129, 129, 129, 0.897);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/padrao09.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;

}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > input[type=submit] {
    background-color: #6e65eb ;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.767);
    color: white;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: #5f54ff;
    color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.829);
    cursor: pointer;
}

form > a.botao {
    display: block;
    margin-top: 3px;
    background-color: #857ff17c;
    color: rgb(0, 10, 44);
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.671);
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    height: 37px;
    border-radius: 5px;
    border: 1px solid #6e65eb;
    padding-top: 5px;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: black;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 4px;
    transform: translateY(-12px);

}

form > a.botao:hover {
    background-color: #9992fa;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.493);
    cursor: pointer;
    text-shadow: none;
}

form > a.botao > i {
    font-size: 1em;
}
